@import './tokens.css';
@import './base.css';

#app {
  width: calc(100vw - 20px);
  height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 10px;
  width: 100vw;
  height: 100vh;
}

@media (min-width: 1024px) {
  body {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    display: flex;
    place-items: center;
    justify-content: flex-start;
  }
}

header {
  padding: 10px 0px 10px 0px;
}

label {
  display: block;
}
